<nav>
  <ul>
    <li><a href="{% url 'home_view' %}"><b>Naslovna</b></a></li>
    <li><a href="{% url 'objekti_index' %}">Objekti</a></li>
    <li><a href="{% url 'evidencije_prijema_index' %}">Evidencije Prijema</a></li>
    <li><a href="{% url 'racuni_index' %}">Racuni</a></li>
    <li><a href="{% url 'stavke_racuna_index' %}">Stavke Racuna</a></li>
    <li><a href="{% url 'otpremnice_index' %}">Otpremnice</a></li>
    <li><a href="{% url 'dobavljaci_index' %}">Dobavljaci</a></li>
</ul>
</nav>
